Screen {
    layout: horizontal;
    overflow: hidden;
     min-width: 100;
    
    
}

.portrait {
    width: 30%;
    padding-top: 10;
    padding-left: 7;
    overflow: hidden;
    
    
}
.right-panel {
    width: 55%;
    layout: vertical;
    padding-top: 5;
    padding-left: 1;
    
    

}

.bio {
    padding-top: 5;
    
    
    
}
.title {
    height: auto;
    
    
    
}
.stars {
    height: 3;
    
}